*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
.clear{
    clear: both;
}

html, body {
    height: 100%;
}

.container{
    width: 1280px;
    margin: 0 auto;
    height: 100%; 
}

.header{
    min-width: 1280px;
    width: 100%;
    height: 90px;
    background-color: #212E3F;
}
header h2{
    padding: 30px;
    color: blanchedalmond;
}
.banner{
    min-width: 1280px;
    width: 100%;
    height: 500px;
    background-image: url('../imagens/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Descricao{
    float: left;
    max-width: 800px;
    margin-top: 60px;
    background-color: rgba(26,37,50,0.6);
    width: 100%;
    padding: 50px;
    color: white;
}
.Descricao h2{
    font-size: 50px;
    color: #F55567;
    margin-bottom: 20px;
}
.Descricao h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.form{
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    background-color: white;
    background-clip: padding-box;
    border: 3px solid #F55567;
}
.form > div {
    width: 100%;
    height:80px;
    padding: 10px;
    background-color: #F55567 ;
    text-align: center;
}
.form h2{
    font-weight: normal;
    color: white;
}
.form form{
    display: inline-block;
}

.form-control{
    margin: 20px;
}

.form-control span{
    width: 100%;
    display: inline-block;
    color: rgb(78, 76, 76);
    font-size: 17px;
    margin-bottom: 10px;
}

.form-control input[type=text]{
     width: 344px;
     height: 55px;
     border: 1px solid #F55567 ;
     padding-left: 10px;
}
.form-btn {
    text-align: center;
}
.btn-success{
    width: 280px;
    height: 60px;
    background-color: #212E3F;
    color: cornsilk;
    font-size: 20px;
    border: 0;
    border-radius: 10px;  
    display: inline-block;
    cursor: pointer;
}

.btn-success:hover{
    background-color: rgb(17, 26, 39) ;
}

.section-loren{
    min-width: 1280px;
    width: 100%;
    background-color: rgba(218, 218, 218, 0.6);
    padding: 50px 2%;
    text-align: center;
}
.divisao{
    width: 100%;
    margin-top: 30px;
}

.conteudo{
    width: 30%;
    display: inline-block;
    margin: 10px;
    background-color: aliceblue;
    border: 3px solid #212E3F;
    border-radius: 50px;
    padding: 30px;
}
.conteudo .img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    background-size: contain;
    background-color: black;
}

.conteudo h2{
    font-size: 30px;
    font-weight: normal;
}
.conteudo p{
    padding: 20px;
    text-align: justify;

}
footer{
    width: 100%;
    border-top: 2px solid black;
    padding: 50px;
    text-align: center;
}